@media (max-width: 800px) {
    body {
      flex-direction: column;
    }
}
body {
    background: rgb(30, 30, 30);
    margin: 1px;
   
    
}

main{
    background: rgb(30, 30, 30);
    
}

header{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_left{
display: flex;
flex-direction: row;
align-content: center;
justify-content: flex-start;
justify-content: space-around;
margin: 10px;
gap: 10px; ;

}

.nav_right{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    justify-content: space-around;
    margin: 10px;
    gap: 10px;
}

.logo_google{
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}


.button_recherche{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.button_g{
    background-color: rgb(40, 40, 40);
    
}

.button_d{
    background-color: rgb(40, 40, 40);
} 

.vide{
    border-radius: 25px;
    background: rgb(196, 81, 81);
}


.conteneur_footer{
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.centre{
    order: 2;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    justify-content: space-around;
    margin: 10px;
    gap: 10px; ;
    flex: 20%;
}

.ligne_g{
    order: 1;
    display: flex;
flex-direction: row;
align-content: center;
justify-content: flex-start;
justify-content: space-around;
margin: 10px;
gap: 10px; ;
flex: 40%;

}

.ligne_d{
    order: 3;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-end;
    justify-content: space-around;
    margin: 10px;
    gap: 10px;
    flex: 40%;
}

.footer{
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    background: rgb(15, 15, 15);
}

